# Merge multiple csv files to one file

# 1) Open Notepad in the folder that has multiple csv files that we want to combine

# 2) Write : copy *.csv {name_you_want}.csv => "PL_CLUBS_2012_2022.csv"

# 3) Save as .bat file

# 4) Execute it

In [74]:
# 1. Premier League
import pandas as pd
df_premier_league = pd.read_csv('C:/Users/ssm47/Desktop/Git (Projets Perso)/Football/Data/Csv/Bs4_results/Clubs/Premier-League/Premier-League_merged.csv')

# skipped_row : 2002-2003 Premier-League ~ 2012-2022 Premier-League
skipped_row =[]
nb_clubs = 20
nb_years = 20
total_row=len(df_premier_league.index)
for row in range(0,total_row,nb_years+2):
    skipped_row.append(row)
    
print(skipped_row)

# .read_csv('path.csv',skiprows='list')
df_premier_league = pd.read_csv('C:/Users/ssm47/Desktop/Git (Projets Perso)/Football/Data/Csv/Bs4_results/Clubs/Premier-League/Premier-League_merged.csv', 
                                skiprows=skipped_row)

[0, 22, 44, 66, 88, 110, 132, 154, 176, 198, 220, 242, 264, 286, 308, 330, 352, 374, 396, 418]

In [73]:
df_premier_league

     Rk            Club   Mp    W    D    L  Pts
0    ﻿1  Manchester Utd   38   25    8    5   83
1     2         Arsenal   38   23    9    6   78
2     3   Newcastle Utd   38   21    6   11   69
3     4         Chelsea   38   19   10    9   67
4     5       Liverpool   38   18   10   10   64
..   ..             ...  ...  ...  ...  ...  ...
415  17    Leeds United   38    9   11   18   38
416  18         Burnley   38    7   14   17   35
417  19         Watford   38    6    5   27   23
418  20    Norwich City   38    5    7   26   22
419                NaN  NaN  NaN  NaN  NaN  NaN

[420 rows x 7 columns]

In [76]:
# .drop_duplicates(['col']) : 중복 제거

clubs_drop_duplicated=df_premier_league.drop_duplicates(['Club'])

clubs = clubs_drop_duplicated[['Club']]

pl_clubs_2002_2022=clubs.reset_index(drop=True).dropna()

pl_clubs_2002_2022

               Club
0    Manchester Utd
1           Arsenal
2     Newcastle Utd
3           Chelsea
4         Liverpool
5         Blackburn
6           Everton
7       Southampton
8   Manchester City
9         Tottenham
10    Middlesbrough
11     Charlton Ath
12  Birmingham City
13           Fulham
14     Leeds United
15      Aston Villa
16           Bolton
17         West Ham
18        West Brom
19       Sunderland
20             Club
21       Portsmouth
22   Leicester City
23           Wolves
24   Crystal Palace
25     Norwich City
26   Wigan Athletic
27          Reading
28    Sheffield Utd
29          Watford
30     Derby County
31       Stoke City
32        Hull City
33          Burnley
34        Blackpool
35     Swansea City
36              QPR
37     Cardiff City
38      Bournemouth
39         Brighton
40     Huddersfield
41        Brentford

['2012-2013', 'Premier-League']